In [1]:
import pandas as pd
import numpy as np

In [2]:
basic=pd.read_csv('CleanData/basic.csv')
detailed=pd.read_csv('CleanData/detailed.csv')

In [3]:
mrg_data=basic.merge(detailed, on='vin')

In [4]:
mrg_data.columns

Index(['vin', 'year', 'make', 'model', 'condition', 'modelId', 'bodyStyle',
       'mileageUnformatted', 'priceUnformatted', 'id_make', 'niceName_make',
       'niceName_model', 'id_engine', 'compressionRatio_engine',
       'cylinder_engine', 'size_engine', 'configuration_engine',
       'horsepower_engine', 'torque_engine', 'type_engine',
       'compressorType_engine', 'id_transmission', 'name_transmission',
       'transmissionType_transmission', 'numberOfSpeeds_transmission',
       'drivenWheels', 'market_categories', 'epaClass_categories',
       'vehicleType_categories', 'vehicleStyle_categories', 'highway_mpg',
       'city_mpg', 'automaticType_transmission', 'errorType', 'message'],
      dtype='object')

In [5]:
# columns not to be used for price prediction 
columns_to_drop=['vin', 'model', 'id_make', 'niceName_make', 'niceName_model', 'id_engine', 'compressionRatio_engine', 'id_transmission',
                 'transmissionType_transmission', 'numberOfSpeeds_transmission', 'epaClass_categories', 'vehicleType_categories',
                 'vehicleStyle_categories', 'automaticType_transmission', 'errorType', 'message']

In [6]:
mrg_data.drop(columns_to_drop, inplace=True, axis=1)

In [7]:
# # drop rows where modelId is null
# mrg_data=mrg_data[mrg_data['modelId'].notnull()]

In [8]:
mrg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10191 entries, 0 to 10190
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   10191 non-null  int64
 1   make                   10191 non-null  object
 2   condition              10191 non-null  object
 3   modelId                10177 non-null  float64
 4   bodyStyle              10182 non-null  object
 5   mileageUnformatted     9006 non-null   float64
 6   priceUnformatted       10191 non-null  int64
 7   cylinder_engine        9358 non-null   float64
 8   size_engine            8825 non-null   float64
 9   configuration_engine   9314 non-null   object
 10  horsepower_engine      8688 non-null   float64
 11  torque_engine          8360 non-null   float64
 12  type_engine            9364 non-null   object
 13  compressorType_engine  3667 non-null   object
 14  name_transmission      9336 non-null   object
 15  drivenWheels           9666 non-null   object
 16  market_categories      6708 non-null   object
 17  highway_mpg            8098 non-null   float64
 18  city_mpg               8177 non-null   float64
dtypes: float64(8), int64(2), object(9)
memory usage: 1.5+ MB

In [9]:
# drop compressorType_engine because more than half of the values are missing
mrg_data.drop('compressorType_engine', axis=1, inplace=True)

In [10]:
from sklearn.preprocessing import LabelEncoder

str_cols=mrg_data.select_dtypes(include='object')
str_cols=str_cols.apply(LabelEncoder().fit_transform)

num_cols=mrg_data.select_dtypes(exclude='object')
# num_cols['modelId'] = num_cols['modelId'].values.astype(int) # makes null values equal to 0

result=pd.concat([num_cols, str_cols], axis=1)

In [11]:
result.head()

,year,modelId,mileageUnformatted,priceUnformatted,cylinder_engine,size_engine,horsepower_engine,torque_engine,highway_mpg,city_mpg,make,condition,bodyStyle,configuration_engine,type_engine,name_transmission,drivenWheels,market_categories
0,2021,2356.0,51482.0,27499,4.0,2.0,221.0,258.0,31.0,23.0,25,2,7,2,4,9,2,30
1,2015,1511.0,126966.0,6489,4.0,2.5,182.0,180.0,38.0,27.0,27,2,6,2,4,11,2,57
2,2018,1881.0,54708.0,33149,6.0,3.0,340.0,339.0,23.0,17.0,30,2,7,0,4,7,0,31
3,2015,2060.0,73390.0,16499,6.0,3.5,290.0,267.0,31.0,21.0,0,2,6,0,4,10,0,29
4,2015,1323.0,81653.0,14499,4.0,2.0,240.0,260.0,28.0,21.0,3,2,7,2,4,9,0,30

In [12]:
result.to_csv('PricePredictionData/data.csv', index=False)